/* Hide minimize, maximize, and close buttons */
.titlebar-button {
    display: none !important;
}

/* Push right sidebar button to the right to fill the gap */
.workspace-tab-header-container {
    padding-right: calc(var(--size-4-2)) !important;
}

.workspace-tab-header-container::after {
    display: none !important;
}
